* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: munro;
    src: url(../fonts/munro.ttf);
}

body{
    font-family: 'munro';
    background-color: #ffffff;
    height: 100vh;
}


.navbar-block {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-links,
.footer-links {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-links {
    flex-wrap: nowrap;
}

.footer-links {
    flex-direction: column;
    flex-wrap: wrap;
}

.nav-link,
.footer-link {
    text-decoration: none;
    color: #868e96;
    font-size: 18px;
}

.nav-link{
    padding: 10px;
}

.nav-link:hover,
.footer-link:hover{
    color: #292b2c;
}

a.active{
    color: #292b2c;
    text-decoration-line: underline ;
}

a.disabled {
    color: #868e96;
    opacity: 0.8;
    pointer-events: none;
    cursor: default;
    text-decoration: line-through;
}

.nav {
    grid-area: nav;
    height: 100%;
}

.login-form, .register-form {
    max-width: 520px;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 20px;
  }

.login-form-group, .register-form-group {
      display: grid;
  }


  .user-action-div, .center-child-component {
    display: grid;
    justify-items: center;
  }
  
  .user-action-btn {
    cursor: pointer;
    border: none;
    font-family: inherit;
    background-color: transparent;
    text-decoration: underline;
    font-size: 2em;
    padding: 10px;
  }

  .text-light {
    color: #868e96;
  }

  /*
  .nameboxes {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    margin: 10px 5px 20px 5px;
  }
  
  .nameboxes > span {
    border-top: 2px solid black;
    border-right: 2px solid black;
    min-width: 250px;
  }
  
  .namebox {
    padding: 0.5em;
    font-size: 1.5em;
  }
  
  @media only screen and (max-width: 600px) {
    .nameboxes {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      border-bottom: 2px solid black;
      border-left: 2px solid black;
      margin: 25px 5px;
    }
  } */

.wrapper {
    display: grid;
    grid-template-rows: minmax(62px, 90px) minmax(560px, 610px) minmax(55px, 1fr);
    grid-template-columns: 1fr minmax(335px, 450px) 1fr; 
    grid-template-areas:
    "header-area header-area header-area"
    ". main-area ."
    ". footer-area .";
    height: 100%;
}

.header-area {
  grid-area: header-area;
  display: grid;
  grid-template-columns: 1fr minmax(340px, 800px) 1fr;
  grid-template-areas: ". nav .";
}


.main-area {
  grid-area: main-area;
  /* display: grid; */
  height: 100%;
  width: 100%;
  /* padding: 5px; */
}

.footer-area {
  height:100%;
  grid-area: footer-area;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-home{
  height:100%;
  width:100%;
  /* display: grid; */
}

.home-play-screen {
  display: grid;
  width:100%;
  height: 100%;
  grid-template-rows: minmax(30px, 40px) minmax(320px, 360px) minmax(135px, 142px) minmax(55px, 60px);
  grid-template-areas:
  "play-screen-totals"
  "play-screen-game"
  "play-screen-scores"
  "play-screen-buttons";
}

.play-screen-game {
  display: grid;
  grid-area: play-screen-game;
  grid-template-rows: minmax(112px, 120px) minmax(125px, 1fr) minmax(68px, 83px);
  grid-template-columns: minmax(105px, 1fr) minmax(110px, 168px) minmax(105px, 1fr);
  grid-template-areas:
  "p-top p-top p-top"
  "p-left cards-on-table p-right"
  "my-cards my-cards my-cards";
}

.cards-on-table {
  grid-area: cards-on-table;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    ".                    card-on-table-top            ."
    "card-on-table-left   card-on-table-top   card-on-table-right"
    "card-on-table-left  card-on-table-bottom card-on-table-right"
    ".                   card-on-table-bottom          .";
}

.play-screen-totals {
  grid-area: play-screen-totals;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.play-screen-scores {
  grid-area: play-screen-scores;
}

.play-screen-buttons {
  grid-area: play-screen-buttons;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.p-top {
  grid-area: p-top;
  align-self: center;
  justify-self: center;
}

.p-left{
  grid-area: p-left;
  align-self: center;
  justify-self: center;
}

.game-cards-on-table {
  grid-area: cards-on-table;
}

.p-right{
  grid-area: p-right;
  align-self: center;
  justify-self: center;
}

.my-cards{
  grid-area: my-cards
}

.card-on-table-left{
  grid-area: card-on-table-left;
  align-self: center;
  justify-self: center;
}

.card-on-table-right{
  grid-area: card-on-table-right;
  align-self: center;
  justify-self: center;
}

.card-on-table-top{
  grid-area: card-on-table-top;
  align-self: center;
  justify-self: center;
}

.card-on-table-bottom{
  grid-area: card-on-table-bottom;
  align-self: center;
  justify-self: center;
}

.game-my-cards {
  grid-area: my-cards;
}

.playerboxes {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
}

.playerbox {
  width: 300px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}


.my-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  height: 100%;
}

.large-text {
  font-size: 2.5em;
}

.info-text{
  text-align: center;
  opacity: 0.6;
  margin: 1em;
}